* {
  box-sizing: border-box;
  font-family: verdana monospace;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.quiz-position {
  /*display: block;
  background-color: lightgrey;
  border: 3px, black, solid;
  border-radius: 5px;
  height: 30px;
  padding-left: 5px;*/
}

.radio {
  display: inline-block;
}

#answers, #question {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.choice {
  display: block;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 14px;
  font-family: sans-serif;
}
#correctStatement {
  display: block;
  padding: 5px;
  border: 3px solid green;
  border-radius: 5px;
  background-color: lightgreen;
}

#incorrectStatement {
  display: block;
  padding: 5px;
  border: 3px solid red;
  border-radius: 5px;
  background-color: pink;
}

.hidden {
  display: none;
}

/*#continue {
  display: block;
  border: 1px dotted black;
  margin-left: auto;
  margin-right: auto;
}*/

#finalScore {

}
